exportPattern("^[[:alpha:]]+")
importFrom("stats", "as.formula")
importFrom("lavaan", "cfa")
importFrom("partykit", "mob", "mob_control")
importFrom("sandwich", "estfun")
importFrom("stats4", "logLik")
importFrom("stats", "predict")
